streamlit
langchain
langchain-google-genai
langchain-community
langchain-core
langchain-huggingface
langchain-qdrant
langgraph
langgraph-supervisor
qdrant-client
sentence-transformers
requests
langchain-text-splitters